.header-container{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    text-align: center;
    background-color: #16213e ;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 2.5px solid transparent;
    border-bottom: 2.5px solid #0f3460;
}


.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -50px;
}
.navigation-bar a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}
.navigation-bar{
    margin-bottom: 20px;
}
.navigation-bar a:hover{
    text-decoration: underline;
}

.search-bar{
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2.5px;
}


.label {
    position: absolute;
    top: -23px;
    right: -11px;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
